:root {
  --accent-color-main: #ff385c;
  --j-qkgmf: #dddddd;
  --f-mkcy-f: #ffff;
  --fo-jk-r-s: #717171;
  --font-family: "Circular", -apple-system, "BlinkMacSystemFont", "Roboto",
    "Helvetica Neue", sans-serif;
  --h-font-size: 0.875rem;
  --font-weight-600: 600;
  --font-p: 0.75rem;
}

.fixedPad {
  padding: 1px 100px;
}
.tabsItems {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.css-aym9vq-MuiButtonBase-root-MuiTab-root.Mui-selected {
  color: var(--accent-color-main) !important;
}
.css-1aquho2-MuiTabs-indicator {
  transition: color 0.3s, border-color 0.3s;
  background: var(--accent-color-main) !important;
}
@media (min-width: 1400px){
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1794px !important;
    }
}


.css-aym9vq-MuiButtonBase-root-MuiTab-root:hover {
  color: rgb(56, 54, 54);
  border-bottom: 2px solid rgb(83, 83, 83);
}
.css-aym9vq-MuiButtonBase-root-MuiTab-root {
  font-size: var(--font-p) !important;
  text-transform: capitalize !important;
}
.css-1ujnqem-MuiTabs-root .MuiTabs-scrollButtons {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  padding: 5px !important;
  margin: 14px;
  border: 1px solid var(--j-qkgmf);
}
.filter {
  display: flex;
  align-items: center;
  font-weight: 600;
  justify-content: space-around;
  font-family: var(--font-family);
  gap: 23px;
}
.css-1f2kvjf-MuiFormControlLabel-root {
  margin-right: 21px !important;
}
.css-1f2kvjf-MuiFormControlLabel-root .MuiFormControlLabel-label {
  font-size: var(--font-p) !important;
  font-weight: 500;
}
.filter p {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: var(--font-p);
  border: 1px solid var(--j-qkgmf);
  padding: 10px;
  border-radius: 9px;
  cursor: pointer;
}
.css-5ryogn-MuiButtonBase-root-MuiSwitch-switchBase.Mui-checked {
  color: rgb(63, 62, 62) !important;
}
.css-5ryogn-MuiButtonBase-root-MuiSwitch-switchBase.Mui-checked
  + .MuiSwitch-track {
  background-color: #000000 !important;
}
.priceSwitch{
    border-radius: 12px;
    border-color: var(--j-qkgmf);
    border-width: 1px;
    border-style: solid;
   
    cursor: pointer;
}

/*Listing */
.items {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    gap: 6px;
  }
  .items .col{
    padding: 0;
  }
  .item {
    flex: 0 0 calc(16.66667% - 20px); 
    max-width: calc(16.66667% - 20px); 
    box-sizing: border-box; 
    padding: 0px;
    margin: 30px 0px !important;
  }
  .imageSlider {
    max-width: 100%; 
    text-align: center; 
  }
  
  .imageSlider img {
   width: 270px;
    height: 250px; 
    border-radius: 10px;
  }
  .details{
    margin-top: 20px;
    text-align: left;
    line-height: 1;
    font-family: var(--font-family);
  }
  .details p{
    color: #717171;
  }
  .details .price{
 font-weight: 500;
 font-family: var(--font-family);
 color: #000000;
 font-size: 15px;
  }
  .details .price span{
    font-weight: 400;
    color: #717171;
  }
  .details h4{
  font-size: 15px;
  }
  .image-slider-carousel {
    margin: 0;
    height: 160px;
    color: #fff;
    line-height: 160px;
    text-align: center;
    background: #364d79;
  }
  .carousel-indicators [data-bs-target]{
    height: 6px !important;
    width: 6px !important;
    border-radius: 50% !important;

  }
  .carousel-control-next-icon, .carousel-control-prev-icon{
  /* width: 2rem!important;
  height: 2rem!important; */
  margin: 0px 40px;
  padding: 5px;
  border-radius: 50%;
   
  }
  